<table cellspacing="5px;" class="table">
    <tr>
        <td>
            @using (Html.BeginForm("Add", "ViewModel", FormMethod.Post))
            {
                @:Name: <input type="text" name="fname" />
                @:Phonenr: <input type="text" name="fnumber" />
                @:City: <input type="text" name="fcity" />
                <input type="submit" name="newpost" value="Add" />
            }
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td>
            @model IEnumerable<FormsAndInputs.Models.Person>
            @using (Html.BeginForm("Index", "ViewModel", FormMethod.Post))
            {
                @:Search: <input type="text" name="filter" />
                <input type="submit" name="search" value="Search" />
            }
        </td>
    </tr>
</table>

<table cellspacing="5px;" class="table">
    @using (Html.BeginForm("Sort", "ViewModel", FormMethod.Post))
    {
        <tr>
            <td>
                <input type="submit" name="name" class="btn-primary" value="by Index" />
            </td>
            <td>
                <input type="submit" name="name" class="btn-primary" value="by Name" />
            </td>
            <td>
                <input type="submit" name="name" class="btn-primary" value="by Phonenr" />
            </td>
            <td>
                <input type="submit" name="name" class="btn-primary" value="by City" />
            </td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(Person => Person.Idx)
        </th>
        <th>
            @Html.DisplayNameFor(Person => Person.Name)
        </th>
        <th>
            @Html.DisplayNameFor(Person => Person.Phonenr)
        </th>
        <th>
            @Html.DisplayNameFor(Person => Person.City)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("_itemPartial", item)
        </tr>
    }
</table>
